.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.persons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 75px;
}

.person {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  background-color: var(--background);
  border: 1px solid var(--border);
}
