.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.content.narrow {
  max-width: 480px;
  text-align: center;
  margin: 0 auto;
}

.content p {
  margin: 0 0 20px;
}

.content h1 {
  margin: 0 0 20px;
}

.content h2 {
  margin: 0 0 10px;
}

.content h1:not(:first-child),
.content h2:not(:first-child) {
  margin-top: 50px;
}

.content a {
  color: var(--text-link);
  font-weight: 500;
}

.image {
  margin: 50px 0;
}

.image img {
  display: block;
  max-width: 100%;
  border-radius: 10px;
}

.image span {
  display: block;
  font-style: italic;
  text-align: left;
}
