.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-link);
  font-weight: 500;
  gap: 20px;
}

.button * {
  vertical-align: middle;
}

.button.outline {
  height: 40px;
  padding: 0 20px;
  border: 2px solid var(--text-link);
}

.button.text {
  display: inline;
}

.button.text *:not(:last-child) {
  margin-right: 10px;
}
