.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--text-link);
  font-weight: 500;
}

.outline {
  height: 40px;
  padding: 0 40px;
  border: 2px solid var(--text-link);
}
