.button {
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-shrink: 0;
  padding: 0 20px;
  box-sizing: border-box;
  border: 2px solid transparent;
  color: var(--text);
  font-weight: 500;
}
.button:focus-visible {
  outline: none;
  border-color: var(--text);
}
.button.primary {
  color: var(--primary);
  border-color: var(--primary);
}
