.controls {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 40px;
  overflow: hidden;
}

.control {
  max-width: 100%;
  overflow: hidden;
}

@media (max-width: 720px) {
  .controls {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .clearControl {
    display: none;
  }
}
