.list {
  margin: -20px 0;
}

.listItem {
  padding: 20px 0;
}
.listItem:not(:last-child) {
  border-bottom: 1px solid var(--border);
}

.listItemContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.title {
  color: var(--text);
}

.label {
  text-align: right;
}
