.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 264px);
}

.title {
  max-width: 480px;
  text-align: center;
  color: var(--text);
}

.logos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.logo {
  object-fit: contain;
  height: 100px;
  max-width: 200px;
}

@media (max-width: 768px) {
  .title {
    max-width: 320px;
  }

  .logos {
    flex-direction: column;
    gap: 0;
  }
}
