.trigger {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 40px;
  padding: 0 20px 0 40px;
  position: relative;
  background-color: var(--background);
  color: var(--text);
  border: 2px solid var(--border);
  box-sizing: border-box;
  flex-shrink: 1;
}
.trigger span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.trigger:focus-visible {
  border-color: var(--text);
}
.trigger[data-placeholder] {
  color: var(--text-low-contrast);
}

.icon {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  overflow: hidden;
  background-color: var(--background);
  border: 2px solid var(--border);
  z-index: 1;
}

.viewport {
  padding: 10px;
}

.item {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 40px;
  padding: 0 20px 0 40px;
  position: relative;
  color: var(--text);
  user-select: none;
  box-sizing: border-box;
}
.item[data-highlighted] {
  outline: none;
  background-color: var(--primary);
  color: var(--primary-text);
}

@media (max-width: 720px) {
  .trigger,
  .item {
    font-size: 12px;
  }
}
