:root {
  /* Colors */
  --background: #ffffff;
  --background-tinted: #f4f8fe80;
  --text: #222426;
  --text-low-contrast: #6f7172;
  --primary: #5f8ac6;
  --primary-text: #ffffff;
  --border: #f0f0f0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  white-space: pre-wrap;
}

body {
  background: var(--background);
  color: var(--text);
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  opacity: 0.7;
}

/* Text styles */
.heading1 {
  font-size: 40px;
  line-height: 1.3em;
  font-weight: 600;
  margin: 0;
}

.heading2 {
  font-size: 24px;
  line-height: 1.3em;
  font-weight: 600;
  margin: 0;
}

.bodyExtraSmall {
  font-size: 12px;
  line-height: 1.3em;
  font-weight: 400;
  margin: 0;
  color: var(--text-low-contrast);
}

.bodySmall {
  font-size: 14px;
  line-height: 1.5em;
  font-weight: 400;
  margin: 0;
  color: var(--text-low-contrast);
}

.body {
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 400;
  margin: 0;
  color: var(--text-low-contrast);
}

.body a {
  color: var(--primary);
  font-weight: 500;
}

.bodyLarge {
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 400;
  margin: 0;
  color: var(--text-low-contrast);
}

.block {
  padding: 5px 10px;
  background: var(--primary);
  color: var(--primary-text);
  font-weight: 400;
  text-transform: uppercase;
}

@media (max-width: 720px) {
  .heading1 {
    font-size: 24px;
  }

  .heading2 {
    font-size: 20px;
  }

  .bodyLarge {
    font-size: 16px;
  }
}
