.publications a {
  color: var(--text-link);
  font-weight: 500;
}

.listItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 0;
}

.listItem:not(:last-child) {
  border-bottom: 1px solid var(--border);
}
