.section {
  background-color: var(--background);
  padding: 100px 50px;
  position: relative;
}

.tinted {
  background-color: var(--background-tinted);
  background-size: 20px 20px;
  background-image: linear-gradient(
      to right,
      var(--border) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, var(--border) 1px, transparent 1px);
}

.moth {
  background-color: var(--background-tinted);
  background-image: url("/moth.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  width: 80%;
  max-width: 1024px;
  margin: 0 auto;
}

@media (max-width: 960px) {
  .content {
    width: 100%;
  }
}

@media (max-width: 720px) {
  .section {
    padding: 40px 20px;
  }
}
