.bulletList {
  display: grid;
  grid-template-columns: 1fr;
}

.bulletListItem {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  text-align: left;
}

.icon {
  width: 21px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: var(--primary);
}
.icon svg {
  position: absolute;
}
