.topBar {
  position: sticky;
  top: 0;
  height: 60px;
  padding: 0 50px;
  background: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid var(--border);
  z-index: 1;
}

.topBarContent {
  width: 80%;
  max-width: 1024px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 0 auto;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  flex-grow: 1;
  gap: 40px;
  white-space: nowrap;
}

.menuItem {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--text);
  font-weight: 500;
  position: relative;
}

.menuItem:hover {
  opacity: 1;
}

.label {
  display: inline;
}

.labelShort {
  display: none;
}

.line {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  bottom: -1px;
  width: 0px;
  height: 4px;
  background-color: var(--primary);
  transition: width 250ms ease-in-out;
}

.menuItem:hover .line {
  width: 100%;
}

.menuItem.active .line {
  width: 100%;
}

.menuItem.active {
  color: var(--primary);
}

@media (max-width: 960px) {
  .topBarContent {
    width: 100%;
  }

  .label {
    display: none;
  }

  .labelShort {
    display: inline;
  }
}

@media (max-width: 720px) {
  .topBar {
    padding: 0;
  }

  .topBarContent {
    gap: 20px;
    padding: 0 20px;
  }

  .menu {
    gap: 20px;
  }

  .menuItem {
    font-size: 12px;
  }
}
